In [2]:
#Discuss string slicing and provide examples


#It is the meathod to which allows you to extract the portionof a string by specifying a start and end index
str="face"
print(str[0:5])

face

In [3]:
#Explain the key features of lists in Python


#lists are ordered,mutable and can contain items of different types at the same time

In [4]:
 #Describe how to access, modify, and delete elements in a list with examples


 #if you want to add some element use append(),extend() if yoou wnt to delete the item use remove(),pop() if you want to access iterate through the list's,increase the index

In [7]:
#Compare and contrast tuples and lists with examples


#list is a collectionof orderd elements they have square brackets and comma
i= [10,12,14,16]#this is a list which also it is mutable

In [8]:
#tuple is a group of comma seperated by value within  parenthesis and
t = (1,2,3,4,5)#this is a tuple and they are not mutable

In [11]:
#Describe the key features of sets and provide examples of their use


#they are unorderd,sets do not allow duplicateset ,they may be modified,
s = {1,2,3,4,3,4,2,2,4,1}

In [12]:
print(s)

{1, 2, 3, 4}

In [13]:
s.add(10)

In [14]:
s

{1, 2, 3, 4, 10}

In [19]:
#Describe the key features of sets and provide examples of their use


#tuples are immutable collection of variables,so they cant be changed after creation.It can be used to store multiple items in a single variable
#sets can be changed after creation,they can be used where there is no need of order and you do not need duplicate items

In [20]:
#Describe how to add, modify, and delete items in a dictionary with examples


#to remove use pop() or del,to add use dict[key]="value",to modify i.update({"d": "s4"})

In [21]:
#Discuss the importance of dictionary keys being immutable and provide examples


#immutability is essential for keys because it ensures that the dictionary bcan effciently look up values based their keys
dict = {"a": 1, "b": 2, "c": 3}

In [25]:
dict["a"]

1